@model IEnumerable<Candidate>

@{
    ViewData["Title"] = "Index";
}

<h5>Candidates</h5>

<p>
    <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus fa-beat"></i></a>
    @* <a asp-action="Input" class="btn btn-info"><i class="fa-solid fa-plus fa-beat"></i></a> *@
</p>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align:center;
    }
</style>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date Of Brith
            </th>
            <th>
               Email
            </th>
            <th>
               Mobile
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Alternate_Mobile)
            </th> *@
            @* <th>
               Address
            </th> *@
            <th>
               ID Proof
            </th>
            <th>
               Department
            </th>
            <th>
               JobRole
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Candidate_Id)
            </th> *@
            <th>
               Interview Date
            </th>
            <th>
               Status
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_Brith)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Alternate_Mobile)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.Candidate_Address)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Id_Proof)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Role)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Candidate_Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.interview_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen fa-bounce"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-user fa-shake"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-circle-xmark fa-fade"></i></a>
                    <a asp-controller="Upload" asp-action="UploadFile" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $('.table').DataTable();
    </script>
}

