@model User
@{
    ViewData["Title"] = "EditUser";
}

<h5 style="text-align:center">UpdateUser</h5>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5 style="text-align:center">User Details</h5>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="@Model.UserName" class="control-label">Name</label>
                        <input asp-for="@Model.UserName" class="form-control" />
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="from-group">
                        <label asp-for="@Model.Email" calss="control-label">Email</label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="@Model.Password" class="control-label">Password</label>
                        <input asp-for="@Model.Password" class="form-control" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="from-group">
                        <label asp-for="@Model.FirstName" calss="control-label">FirstName</label>
                        <input asp-for="@Model.FirstName" class="form-control" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="@Model.LastName" class="control-label">LastName</label>
                        <input asp-for="@Model.LastName" class="form-control" />
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="from-group">
                        <label asp-for="@Model.DOB" calss="control-label">DOB</label>
                        <input asp-for="@Model.DOB" class="form-control" />
                        <span asp-validation-for="@Model.DOB" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@Model.Address" class="control-label">Address</label>
                        <textarea type="text" asp-for="@Model.Address" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="from-group">
                        <label asp-for="@Model.Mobile" calss="control-label">Mobile</label>
                        <input asp-for="@Model.Mobile" class="form-control" />
                        <span asp-validation-for="@Model.Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="@Model.AltMobile" class="control-label">Alternate Mobile</label>
                        <input asp-for="@Model.Mobile" class="form-control" />
                        <span asp-validation-for="@Model.AltMobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@Model.AltAddress" class="control-label">Alternate Address</label>
                        <textarea type="text" asp-for="@Model.AltAddress" class="form-control"></textarea>
                        <span asp-validation-for="@Model.AltAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="@Model.BloodGroup" class="control-label">BloodGroup</label>
                        <input asp-for="@Model.BloodGroup" class="form-control" />
                        <span asp-validation-for="@Model.BloodGroup" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="from-group">
                        <label asp-for="@Model.Status" calss="control-label"></label>
                        <input asp-for="@Model.Status" class="form-control" />
                        <span asp-validation-for="@Model.Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    </div>
</div>